extends _base
block var
  - var title = 'OOPS!'

block content
  .container
    h1 OOPS!
    p Seems that we have hit a bad error.
    p
      span If you think this is a bug, please report to
      a(href='https://github.com/Holi0317/sms-library-helper/issues') here
    if message
      p= message
