mixin flash()
  if session.flash
    .container
      .alert.alert-info.fade.in(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='close')
          span(aria-hidden='true') &times;
        p=session.flash
    - session.flash = null;
