- dialogID = { help: 'help-dialog', accountDelete: 'delete-account-dialog'};
- enumLogLevel = { DEBUG: 'debug hidden', INFO: 'info', WARN: 'warning', ERROR: 'danger', FATAL: 'danger', SUCCESS: 'success'}

include _utils

include _help
include _navbar
include _env-warn
include _flash
include _show-log
include _delete-account
include _form
