{
  "env": {
    "node": true,
    "es6": true,
    "browser": false
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "quotes": [2, "single"],
    "no-console": [0]
  }
}
