{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Library helper' %}{% endblock %}

{% block content %}
<div class="container wow fadeInUp">
  <div class="jumbotron">
    <h1>Library Helper</h1>
    <p>一個小小的副助工具</p>
  </div>
</div>

<div class="container wow fadeInUp">
  <div class="card">
    <div class="card-body">
      <h2>簡介</h2>
      <p>就是我自己的一個小小練習啦</p>
      <p>這個工具集合了一些我自己所寫的小工具, 可以令學校圖書館的體驗更加快樂</p>
      <del>我該如何吐槽自己QAQ</del>
    </div>
  </div>
</div>

<br>
  
<div class="container wow fadeInUp">
  <div class="card">
    <div class="card-body">
      <h2>功能</h2>
      <ul>
        <li>自動續借</li>
        <li>把還書日期放到Google Calender上</li>
      </ul>
    </div>
  </div>
</div>

<br>
  
<div class="container wow fadeInUp">
  <div class="card">
    <div class="card-body">
      <h2>技術上, 這包括了...</h2>
      <ul>
        <li>Python3 + Django 作為後端</li>
        <li>Bootstrap3 + Material Theme 作為網頁framework</li>
        <li>Javascript + jQuery <del>其實大部份都只是jQ</del> 作為客戶端的腳本</li>
      </ul>
      <del>所有的都用framework就算了-3-</del>
      <h2>最重要的是...</h2>
      <p>這是一個open source project</p>
      <p>你可以到<a href="https://github.com/Holi0317/sms-library-helper">Github</a>上取得源碼</p>
    </div>
  </div>
</div>

{% endblock %}
