{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
<link href="{% static "dropdown.js/jquery.dropdown.css" %}" rel="stylesheet">
<link href="{% static "account/settings.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans 'lang.account.settings.title' %}{% endblock %}

{% block content %}
<div id="return"></div>
<div class="container card-ready" id="form-card">
  <h1 class="header">{% trans 'lang.account.settings.header' %}</h1>
  <div class="card">
    <div class="card-body">
      {% crispy form %}
    </div>
  </div>
</div>

<div class="container card-ready" id="test-card">
  <h2>Testing area</h2>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-primary" id="test-success">Success callback</button>
      <button class="btn btn-danger" id="test-fail">Fail callback</button>
    </div>
  </div>
</div>

{% endblock %}

{% block tail %}
<script src="{% static "dropdown.js/jquery.dropdown.js" %}"></script>
<script src="{% static "account/settings.js" %}"></script>
{% endblock %}
