doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Quick and dirty developing helper
    base(href='dev/')
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
      
  body
    .container
      .alert.alert-danger(role='alert')
        p Development mode is enabled.
        p Disenable this by setting NODE_ENV to production.
        
      h1 Session functions
      ul
        li: a(href='session') Get session information
        li: a(href='session/destroy') Destroy session
        li: a(href='session/flash') Make a flash
      
      h1 Database functions
      ul
        li: a(href='db/users') List db.users
        li: a(href='db/users/drop') Drop db.users
      
      h1 Google api functions
      ul
        li: a(href='gapi/revoke') Revoke Google Oauth2 grant
      
      h1 Cron job functions
      ul
        li: a(href='cron') Invoke cron job
        
      h1 Render template....
      ul
        li: a(href='render/_base') _base.jade
        li: a(href='render/_navbar') _navbar.jade
        li: a(href='render/auth-fail') auth-fail.jade
        li: a(href='render/error') error.jade
        li: a(href='render/index') index.jade
        li: a(href='render/index') index.jade
        li: a(href='render/user') user.jade
        li: a(href='render/418') 418.jade
