doctype html
block var
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    
    if basePath
      base(href=basePath)
    
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
      
    link(rel="stylesheet", href="styles/style.css")
    block head

  body
    include _navbar
    
    if session.flash
      .container
        .alert.alert-info(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='close')
            span(aria-hidden='true') &times;
          p=session.flash
      - session.flash = null;
    
    block content
    
    script(src="scripts/bundle.js")
    block script
