doctype html
include mixin/all
block var
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    
    if basePath
      base(href=basePath)
    
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
      
    link(rel="stylesheet", href=staticPath + 'styles/style.css')
    block head

  body
    +navbar()
    +flash()
    +envWarn()
    
    block content
    
    script(src=staticPath + 'scripts/bundle.js')
    block script
