#help-modal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Help and support
      .modal-body
        p 那個....文件寫的有點隨便，請見諒 &lt;(_m_)&gt; #[del 雖然沒人看的開發者文件寫的超詳細._.]
        p 這程式就是把學校圖書館書的到期日寫到Google 日曆裏 #[del ，和不小心地寫成的自動續借功能]
        p 使用方法: 用Google帳號登入後，在顯示的頁面中輸入所需的資料。按下Submit後就完成了。
        p 對於安全性方面，我絕對不會作出任何保證。至少，我盡力了 (?
        p 當然也可以定期回來檢查一下紀錄檔，雖然這玩意最主要的目的是給我debug就是了。
        p 喔，對了。這個程式也偷偷地加入了一個彩蛋。看你能不能發現吧 ;)
