.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href=urlFor('index')) Home
    .navbar-collapse.collapse.navbar-responsive-collapse
      ul.nav.navbar-nav
        li: a(href='https://github.com/holi0317/sms-library-helper', target='_blank') Fork me on Github
        li: a(data-toggle='modal', data-target="#help-modal", href='#') Help
      if logined
        p.navbar-text.navbar-right
          | Hello, #{name} &nbsp;&nbsp;&nbsp;
          a.navbar-link(href=urlFor('logout')) Logout
      else
        p.navbar-text.navbar-right
          a.navbar-link(href=urlFor('login')) Login
