extends _base
block var
  - var title = 'SMS library helper'
block content
  .container
    .jumbotron
      h2 SMS library helper register
      p 學校圖書館自動續借系統
      p 來來來, #[a.no-light(data-toggle='modal', data-target="#help-modal", href='#') 說明書在這裏]
      div: small 界面寫的垃圾, 請見諒
      a.google-signin.btn.btn-raised(href=urlFor('login'))
        i.fa.fa-google.fa-2x
        span Sign in with Google
