extends _base
block var
  - var title = 'SMS library helper'
block content
  .container
    .jumbotron
      h2 SMS library helper register
      p 學校圖書館自動續借系統
      div: small: del 來, 讓叔叔定期幫你繼借
      div: small 網頁寫的垃圾, 請見諒
      a.google-signin.btn.btn-raised(href=urlFor('login'))
        i.fa.fa-google.fa-2x
        span Sign in with Google
