extends _base
block var
  - var title = 'SMS library helper'
block content
  +formAlert()
  .container
    .jumbotron
      .alert.alert-warning(role='alert')
        p 注意: 請不要增加/修改指定Google日曆內的一切活動。所有不相關的活動將會被刪除。
      form.form-horizontal(data-async, action=url('root.user'), method='POST', validator='user')
        fieldset
          legend Informations update

          +form_togglebutton('Enable auto renew', 'renewEnabled', user.renewEnabled)
          
          +form_input('Library login', 'libraryLogin', user.libraryLogin, '', 'text')
          +form_input('Library password', 'libraryPassword', '', '', 'password')
          +form_input('Renew at', 'renewDate', user.renewDate, 'Renew at "n" days before due date, where n is the number you have typed above. Must between 2 and 13', 'number')
          +form_input('Google calendar name', 'calendarName', user.calendarName, 'Read warning above!', 'text')
          
          +form_submit('Submit')
            
  +showLog(user.logs)
  +deleteAccount()
