{
  "env": {
    "node": false,
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single"],
    "no-console": [2]
  }
}
