{
  "env": {
    "node": false,
    "es6": false,
    "browser": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single"],
    "no-console": [2]
  },
  "globals": {
    "Polymer": true
  }
}
