{
  "env": {
    "node": false,
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single"],
    "no-console": [2]
  },
  "globals": {
    "Polymer": true,
    "app": true,
    "page": true
  },
  "plugins": [
    "html"
  ]
}
