.return-status-root {
    visibility:hidden;
    opacity:0;
    height:0;
}

.trans {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
            transition: all .25s ease;
}

.togglebutton label input[type="checkbox"]{
    display: None;
}

.asteriskField {
    display: none;
}

.module-toggle {
    overflow: hidden;
	max-height: 0;

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.module-toggle-show {
    max-height: 150px;
}
