{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
<link href="{% static "dropdown.js/jquery.dropdown.css" %}" rel="stylesheet">
<link href="{% static "account/settings.css" %}" rel="stylesheet">
<link href="{% static "css/animate-card.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block content %}
<div id="return"></div>
<div class="container wow fadeInUp card-ready" id="form-card">
  <h1 class="header">{% trans 'Settings' %}</h1>
  <div class="card">
    <div class="card-body">
      {% crispy form %}
    </div>
  </div>
</div>

<div id="delete-warn" class="modal fade well page" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
      </div>
      <div class="modal-body">
        {% trans 'There is no way to recover your data. Also, your developer will be sad as you leave him' %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" name="delete">{% trans 'Yes, I am sure' %}</button>
        <button class="btn btn-primary" data-dismiss="modal">{% trans "Nah, take me back" %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block tail %}
  <script src="{% static "dropdown.js/jquery.dropdown.js" %}"></script>
  <script src="{% static "account/settings.js" %}"></script>
  <script src="{% static "js/animate-card.js" %}"></script>
{% endblock %}
